<md-content>
  <section id="input">
    <md-card>

      <md-card-content>
        <div layout="row">
          <md-input-container flex>
              <label>Name:</label>
              <input ng-model="vm.script.name">
          </md-input-container>

          <div flex layout-align="end" style="float:right;">
            <md-menu>
              <md-button class="md-raised md-primary" ng-disabled="vm.running" ng-click="$mdOpenMenu()">Execute</md-button>
              <md-menu-content width="4">
                <md-menu-item>
                  <md-button ng-disabled="vm.running" ng-click="vm.run()">Execute</md-button>
                </md-menu-item>
                <md-menu-item>
                  <md-button ng-disabled="vm.running" ng-click="vm.runAndTrack()">Execute and Track</md-button>
                </md-menu-item>
            </md-menu>
            <md-button class="md-raised md-primary" ng-click="vm.save()">Save</md-button>
            <md-button class="md-raised md-primary" ng-click="vm.canceled(item.id)">Cancel</md-button>
            <md-button class="md-raised md-primary" ng-click="vm.openSettings($event)">Settings</md-button>
          </div>

        </div>

          <div layout="row" layout-align="start center">
              <md-input-container flex>
                <label>Pig Arguments</label>
                <input ng-model="vm.args" aria-label="Pig Arguments">
              </md-input-container>
          </div>

        <div ui-ace="vm.editorOptions" ng-model="vm.script.data"> </div>
        <div class="container" ng-class="{'visible' : !vm.running}">
          <md-progress-linear ng-if="vm.start" md-mode="indeterminate"></md-progress-linear>

          <div flex ng-show="vm.taskList.length > 0">
            <div hog-tracker task-string="vm.ots(vm.taskList)" tracker-id="'myTracker'" title="'My Task List'"></div>
          </div>

          <div flex class='md-padding' layout="column" layout-padding ng-show="vm.info_outputs.length > 0">
            <md-subheader class="md-primary">Display Output Logs</md-subheader>
            <section layout="row">
              <md-button class="md-raised chip-btn" ng-click="vm.openInfo($event, 'all')" ng-if="vm.info_outputs.length > 0">
                Info: {{ vm.info_outputs.length }}
                <md-tooltip>
                  Show All Logs
                </md-tooltip>
              </md-button>

              <md-button class="md-raised chip-btn" ng-click="vm.openInfo($event, 'output')" md-style-color="{'background-color': 'green.400'}" ng-if="vm.outputs.length > 0">
                Outputs: {{ vm.outputs.length }}
                <md-tooltip>
                  Show Output
                </md-tooltip>
              </md-button>

              <md-button class="md-raised chip-btn" ng-click="vm.openInfo($event, 'log')" md-style-color="{'background-color': 'blue.400'}" ng-if="vm.logs.length > 0">
                Logs: {{ vm.logs.length }}
                <md-tooltip>
                  Show Logs
                </md-tooltip>
              </md-button>

              <md-button class="md-raised chip-btn" ng-click="vm.openInfo($event, 'warning')" md-style-color="{'background-color': 'orange.400'}" ng-if="vm.warnings.length > 0">
                Warnings: {{ vm.warnings.length }}
                <md-tooltip>
                  Show Warning Logs
                </md-tooltip>
              </md-button>

              <md-button class="md-raised chip-btn" ng-click="vm.openInfo($event, 'error')" md-style-color="{'background-color': 'red.400'}" ng-if="vm.errors.length > 0">
                Errors: {{ vm.errors.length }}
                <md-tooltip>
                  Show Error Logs
                </md-tooltip>
              </md-button>

              <md-divider ></md-divider>
            </section>
          </div>

          <div class='md-padding' layout="column" layout-wrap layout-align="space-around">
            <v-accordion class="vAccordion--default" layout="column" layout-align="space-around" flex="45" control="vm.graph_panes">
              <v-pane ng-disabled="!vm.graph_data">
                <v-pane-header>
                  Graph
                </v-pane-header>

                <v-pane-content>
                  <md-button ng-click="vm.showLineGraph()"> Line Graph </md-button>
                  <md-button ng-click="vm.showBarGraph()"> Bar Graph</md-button>
                  <md-button ng-click="vm.showRadarChart()"> Radar Chart</md-button>
                  <canvas ng-if="vm.showGraph" id="myChart" width="400" height="400"></canvas>
                </v-pane-content>
              </v-pane>

              <v-pane ng-disabled="!vm.graph_data">
                <v-pane-header>
                  Table
                </v-pane-header>
                <v-pane-content>
                  <md-table-container>
                    <head>
                      <div>
                        <md-input-container>
                          <md-select ng-disabled="vm.running" multiple ng-model="vm.testData" md-on-close="vm.onChange()" placeholder="Select one or more Values">
                            <md-option ng-value="items" ng-repeat="items in vm.pigList track by $index">{{items}}</md-option>
                          </md-select>
                        </md-input-container>
                      </div>
                    </head>
                  </md-table-container>
                </v-pane-content>
              </v-pane>
            </v-accordion>
          </div>

          <div class='md-padding' flex layout="row" layout-wrap layout-align="space-around">
            <md-button class="md-raised" ng-click="vm.openInfo($event, 'all')" flex ng-disabled="vm.info_outputs.length <= 0">Show All Output</md-button>
          </div>
    </md-card-content>


</md-card>
</md-content>
