<md-dialog flex ng-cloak>
  <md-dialog-content>
   
        <md-card flex>
          <md-card-header>
            <h2>Version:</h2>
            <md-input-container>
               <md-select ng-model="vm.leftVers" md-on-close="vm.setLIdx(vm.leftVers)">
                <md-option ng-value="version" ng-repeat="version in vm.versions track by $index">{{version.version}}</md-option>
              </md-select>
            </md-input-container>
             <md-input-container>
               <md-select ng-model="vm.rightVers" md-on-close="vm.setRIdx(vm.rightVers)">
                <md-option ng-value="version" ng-repeat="version in vm.versions track by $index">{{version.version}}</md-option>
              </md-select>
            </md-input-container>
            <md-input-container>
              <button ng-click="vm.diff()"> Update Diff</button>
            </md-input-container>
          </md-card-header>
          <md-card-content>
            
            <pre class="textdiff" line-diff left-obj="vm.ls" right-obj="vm.rs"></pre>
          </md-card-content>
        </md-card>
      
  </md-dialog-content>
  <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="revert(vm.leftIdx)">
       Revert to {{vm.leftVers.version}}
      </md-button>
      <md-button ng-click="revert(rightIndx)">
       Revert to {{vm.rightVers.version}}
      </md-button>
      <md-button ng-click="cancel()">
        Cancel
      </md-button>
    </md-dialog-actions>
</md-dialog>