<md-content>
  <section id="input">
    <md-card>

      <md-card-content>
        <div layout="row">
          <md-input-container flex>
            <label>Name:</label>
            <input ng-model="script_name">
          </md-input-container>

          <div flex="60" layout-align="end" style="float:right;">
            <md-menu ng-show="!vm.edited && !vm.running">
              <md-button class="md-raised md-primary" ng-disabled="vm.running" ng-click="$mdOpenMenu()">Run</md-button>
              <md-menu-content width="4">
                <md-menu-item>
                  <md-button ng-disabled="vm.running" ng-click="vm.run()">Run</md-button>
                </md-menu-item>
                <md-menu-item>
                  <md-button ng-disabled="vm.running || true" ng-click="vm.runAndTrack()">Run and Track</md-button>
                </md-menu-item>
              </md-menu-content>
            </md-menu>
            <md-menu ng-show="vm.edited && !vm.running">
              <md-button class="md-raised md-primary" ng-disabled="vm.running" ng-click="$mdOpenMenu()">Save and Run</md-button>
              <md-menu-content width="4">
                <md-menu-item>
                  <md-button ng-disabled="vm.running" ng-click="vm.saveAndRun()">Save and Run</md-button>
                </md-menu-item>
                <md-menu-item>
                  <md-button ng-disabled="vm.running || true" ng-click="vm.saveAndRunAndTrack()">Save and Run and Track</md-button>
                </md-menu-item>
              </md-menu-content>
            </md-menu>
            <md-button class="md-raised md-warn" ng-click="vm.kill()" ng-show="vm.running">Kill</md-button>
            <md-button class="md-raised md-primary" ng-click="vm.save()" ng-disabled="!vm.edited">Save</md-button>
            <md-button class="md-raised md-primary" ng-click="vm.openSettings($event)">Settings</md-button>
            <md-menu>
              <md-button ng-click="$mdOpenMenu($event)" class="md-raised md-primary">
                Download/Export
              </md-button>
              <md-menu-content flex width="4">
                <md-menu-item>
                  <md-button ng-disabled="vm.running || !vm.pigList || vm.pigList.length <= 0" ng-csv="vm.pigList" filename="{{ vm.script.name }}.csv">Export Output To CSV</md-button>
                </md-menu-item>
                <md-menu-item>
                  <md-button ng-disabled="!vm.script.data" ng-click="vm.downloadScript()">Download Script</md-button>
                </md-menu-item>
              </md-menu-content>
            </md-menu>
          </div>

        </div>

        <div layout="row" layout-align="start center">
          <md-input-container flex>
            <label>Pig Arguments</label>
            <input ng-model="script_args" aria-label="Pig Arguments">
          </md-input-container>
        </div>

        <div flex class='md-padding' layout="column" layout-padding ng-show="vm.info_outputs.length > 0">
          <md-subheader class="md-primary">Display Outputs</md-subheader>
          <section layout="row">
            <md-button class="md-raised chip-btn" ng-click="vm.openInfo($event, 'all')" ng-if="vm.info_outputs.length > 0">
              Show All: #{{ vm.info_outputs.length }}
            </md-button>

            <md-button class="md-raised chip-btn" ng-click="vm.openInfo($event, 'output')" md-style-color="{'background-color': 'green.400'}" ng-if="vm.outputs.length > 0">
              Show Results: #{{ vm.outputs.length }}
            </md-button>

            <md-button class="md-raised chip-btn" ng-click="vm.openInfo($event, 'log')" md-style-color="{'background-color': 'blue.400'}" ng-if="vm.logs.length > 0">
              Show Info Logs: #{{ vm.logs.length }}
            </md-button>

            <md-button class="md-raised chip-btn" ng-click="vm.openInfo($event, 'warning')" md-style-color="{'background-color': 'orange.400'}" ng-if="vm.warnings.length > 0">
              Show Warnings: #{{ vm.warnings.length }}
            </md-button>

            <md-button class="md-raised chip-btn" ng-click="vm.openInfo($event, 'error')" md-style-color="{'background-color': 'red.400'}" ng-if="vm.errors.length > 0">
              Show Errors: #{{ vm.errors.length }}
            </md-button>

            <md-divider ></md-divider>
          </section>
        </div>

        <div flex layout="column" layout-padding>
          <md-button flex ng-click="vm.openGraphInfo($event)" ng-if="vm.pigList.length > 0">
            Show Graph Info: #{{ vm.pigList.length }}
          </md-button>
        </div>

        <div flex layout="row" layout-padding>
            <md-input-container flex layout-align="end" style="float:right;">
              <label>Latest Version</label>
              <input ng-disabled="true" value="{{vm.latestVersion}}">
            </md-input-container>
            <md-input-container flex layout-align="end" style="float:right;">
              <label>Version</label>
              <md-select ng-model="vm.version" md-on-close="vm.getVersion(vm.version)">
                <md-option ng-value="version" ng-repeat="version in vm.versions track by $index">{{version.version}}</md-option>
              </md-select>
            </md-input-container>
            <md-input-container flex layout-align="end" style="float:right;">
              <md-button class="md-raised md-primary" ng-disabled="vm.version.version != vm.latestVersion && vm.currentVersion.version == vm.latestVersion" ng-click="vm.bumpVersion()"> Bump Version</md-button>
            </md-input-container>
            <md-input-container flex layout-align="end" style="float:right;">
              <md-button class="md-raised md-primary" ng-disabled="vm.version.version == vm.latestVersion" ng-click="vm.openVersionDifferenceInfo($event)"> View Changes</md-button>
            </md-input-container>
        </div>

        <div ui-ace="vm.editorOptions" ng-model="script_data" style="height: 600px;"></div>

        <div class="container" ng-class="{'visible' : !vm.running}">
          <md-progress-linear ng-if="vm.start" md-mode="indeterminate"></md-progress-linear>

          <div flex ng-show="vm.taskList.length > 0">
            <div hog-tracker task-string="vm.ots(vm.taskList)" tracker-id="'myTracker'" title="'My Task List'"></div>
          </div>

      </md-card-content>


    </md-card>
</md-content>
