<md-content>
  <section id="section1">
    <div class='md-padding' layout="row" layout-wrap layout-align="space-around">
      <v-accordion class="vAccordion--default" layout="column" flex="45">
        <v-pane>
          <v-pane-header>
            Settings
          </v-pane-header>
          <v-pane-content>
            <md-input-container ng-repeat="input in vm.ins">
              <section ng-show="input.inputType == 'string'">
                <md-input-container>
                  <label>{{input.displayName}}</label>
                  <input ng-model="input.data">
                </md-input-container>
              </section>
              <section ng-show="input.inputType == 'form'" layout="row">
                
                <md-input-container class="md-icon-float md-block" layout="row">
                  <!--<md-button class="md-icon-button" aria-label="Add Arg" ng-click="vm.addArg(temp)">
                    <ng-md-icon icon="add" size="20"></ng-md-icon>
                  </md-button>-->
                  <label>
                    {{input.displayName}}
                  </label>
                   
                    <md-icon  ng-click="vm.addArg(input.id,temp)" ng-md-icon icon="add" size="20"></md-icon>
                 
                  <input ng-model="temp">
                 
                </md-input-container>

                  <md-input-container ng-repeat="opt in input.data track by $index" >
                    <!--<md-button class="md-icon-button" aria-label="Remove arg" ng-click="vm.removeArg(input.id, $index)">-->
                    <!--</md-button>-->
                    
                    <label >{{opt.arg}}</label>
 <md-icon ng-click="vm.removeArg(input.id, $index)" ng-md-icon icon="clear" size="20"></md-icon>
                    <input ng-model="opt.default" >
                    
                    <md-tooltip md-direction="right">{{opt.description}}</md-tooltip>

                  </md-input-container>
              </section>
            </md-input-container>
              <md-input-container>
            <label>Choose a Script{{vm.script.name}}</label>
         <md-select  ng-model="myModel" md-on-close="vm.scriptSelect(myModel)">
             <md-opt-group label="Script">
        <md-option ng-value="item" ng-repeat="item in vm.script"> {{item.name}}</md-option>
                 </md-opt-group>
        
      </md-select>
      <!--div class="errors" ng-messages="myForm.myModel.$error" ng-if="myForm.$dirty">
        <div ng-message="required">Required</div>
      </div-->
      </md-input-container>
              
              <div layout="row" layout-align="space-between center">
                <md-checkbox   ng-disabled="myModel.line || myModel.radar" ng-model="myModel.bar" >
                    Bar Graph 
                </md-checkbox>
                <md-checkbox ng-disabled="myModel.bar || myModel.radar" ng-model="myModel.line">
                    Line Graph
                </md-checkbox>
                <md-checkbox  ng-disabled="myModel.line || myModel.bar" ng-model="myModel.radar">
                    Radar Graph
                </md-checkbox>
              </div>
              
        <md-input-container>
            <label>Number of Outputs</label>
            <input ng-model="myModel.numOutput">
        </md-input-container>

            
              
              <!--md-button ng-click="vm.clearValue()" ng-disabled="!myModel" style="margin-right: 20px;">Clear</md-button-->
              
           
              <md-button class="md-raised" ng-click="vm.save(vm.ins, myModel)">Save</md-button>
          </v-pane-content>

        </v-pane>
      </v-accordion>
    </div>
  </section>
  <section id="section2">
    <div class='md-padding' layout="row" layout-wrap layout-align="space-around">
      <v-accordion class="vAccordion--default" layout="column" flex="45">
        <v-pane>
          <v-pane-header>
            {{vm.udfs.displayName}}
          </v-pane-header>
          <v-pane-content>
            <section>
              <!--{{vm.udfs}}-->
              <md-chips ng-show="vm.udfs" class="custom-chips" ng-model="vm.udfs.data" readonly="false" placeholder="empty">
                <md-chip-template>
                  <strong>{{$chip.name}}</strong>
                  <md-tooltip md-direction="right">{{$chip.file}}</md-tooltip>
                </md-chip-template>
              </md-chips>
            </section>
            <md-button class="md-raised" ng-click="vm.save(vm.udfs)">Save</md-button>
          </v-pane-content>
        </v-pane>
      </v-accordion>
    </div>
  </section>
  <!-- Not Sure yet if there will be a section 3 -->
  <!--<section id="section3">
    <div class='md-padding' layout="row" layout-wrap layout-align="space-around">
      <v-accordion class="vAccordion--default" layout="column" flex="45">
        <v-pane>
          <v-pane-header>
            Section 3
          </v-pane-header>
          <v-pane-content>
          </v-pane-content>
        </v-pane>
      </v-accordion>
    </div>
  </section>-->
</md-content>