<div>
    This is a test section don't include in final deployment
</div>

<div ng-init="friends = [
  {name:'John', age:25, gender:'boy'},
  {name:'Jessie', age:30, gender:'girl'},
  {name:'Johanna', age:28, gender:'girl'},
  {name:'Johanna', age:28, gender:'girl'},
  {name:'Johanna', age:28, gender:'girl'},
  {name:'Johanna', age:28, gender:'girl'},
  {name:'Johanna', age:28, gender:'girl'},
  {name:'Johanna', age:28, gender:'girl'}
]">


<span ng-repeat="friend in friends">
new :    {{friend.name}} who is {{friend.age}} years old.
</span>
<br>

 <div class='md-padding' layout="row" layout-wrap>
    <md-card style="width: 350px;" ng-repeat="friend in friends">
      <md-card-content>
        <h2>{{friend.name}}</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,magna aliqua</p>
      </md-card-content>
      <div class="md-actions" layout="row" layout-align="end center">
        <md-button>Save</md-button>
        <md-button>View</md-button>
      </div>
    </md-card>
  </div>


<md-content class="md-padding" layout-xs="column" layout="row">
    <div flex-xs flex-gt-xs="50" layout="column">
      <md-card>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Card with image</span>
            <span class="md-subhead">Large</span>
          </md-card-title-text>
          <md-card-title-media>
            <div class="md-media-lg card-media"></div>
          </md-card-title-media>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
          <md-button>Action 1</md-button>
          <md-button>Action 2</md-button>
        </md-card-actions>
      </md-card>
    </div>
</md-content>
