<md-toolbar>
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Settings" ng-click="vm.toggleNav()">
            <ng-md-icon icon="menu" ></ng-md-icon>  
        </md-button>
        <div style="padding-left: 40px;" > <a href='#'> {{ vm.name }} </a></div>
    </div>
</md-toolbar>

<!--- Main Menu -->
<section layout="row" flex ng-cloak >
    <md-sidenav class="md-sidenav-left md-whiteframe-z" md-component-id="left" style="width: 204px; min-width: 204px;">
        <md-toolbar  class="md-theme-dark">
            <h5 class="md-toolbar-tools" ng-click="close()"> Navigation </h5>
        </md-toolbar>        
        <md-content layout-padding >
             <md-button ng-click="close()" ng-repeat="nav in vm.menu" class="md-raised md-primary" ui-sref="{{nav.state}}">
          <md-tooltip md-direction="right">{{nav.tooltip}}</md-tooltip> {{nav.name}}
             </md-button>
        </md-content>     
    </md-sidenav>
</section>
