<md-toolbar>
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Settings" ng-click="vm.toggleNav()">
            <ng-md-icon icon="menu" ></ng-md-icon>
        </md-button>
    </div>
</md-toolbar>
<section layout="row" flex ng-cloak>
    <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left">
        <md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">Sidenav Left</h1>
      </md-toolbar>
        <md-content layout-padding>
            <md-button ng-click="close()" ng-repeat="nav in vm.menu" class="md-raised md-secondary" ui-sref="{{nav.state}}">{{nav.name}}</md-button>
                    <!--<md-divider ng-if="!$last"></md-divider>-->
        </md-content>
         
    </md-sidenav>
    
      
</section>