<md-toolbar>
  <div class="md-toolbar-tools">
    <md-button class="md-icon-button" aria-label="Settings" ng-click="vm.toggleNav()">
      <ng-md-icon icon="menu" ></ng-md-icon>
    </md-button>
    <div style="padding-left: 40px;" > <a href='/landing'> {{ vm.name }} </a></div>
  </div>
</md-toolbar>
<!--- Main Menu -->
<section layout="row" flex ng-cloak >
  <md-sidenav class="md-sidenav-left md-whiteframe-z" md-component-id="left" style="width: 204px; min-width: 204px;">
    <md-toolbar  class="md-theme-dark">
      <h5 class="md-toolbar-tools" ng-click="close()"> Navigation </h5>
    </md-toolbar>
    <md-content layout-padding >
      <section layout="column">
        <md-menu ng-repeat="nav in vm.menu">
          <md-button ng-click="vm.clicked(nav, $mdOpenMenu, $event)" class="md-flat md-secondary">
            {{nav.name}}
            <md-divider></md-divider>
          </md-button>
          <md-menu-content>
            <md-menu-item ng-repeat="sub in nav.substates">
              <section layout="column">
                <md-button ng-click="close()" class="md-flat md-accent" ui-sref="{{sub.state}}">{{sub.name}}</md-button>
              </section>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
      </section>
    </md-content>
  </md-sidenav>
</section>
