<md-content ng-cloak>
  <section id="input">
    <md-card>
        <md-card-content layout="row">
            <md-button flex ui-sref="home.simple.list"
                       id="simpleList"
                       class="md-raised md-primary"
                       ng-disabled="false"
                       md-ripple-size="auto"
                       md-no-ink="false"
                       aria-label="Simple List">
              Simple List
            </md-button>
            <md-button aria-label="New Simple" class="md-raised md-secondary" ui-sref="home.simple.new"> New Simple </md-button>
            <md-button flex ui-sref="home.complex.list"
                       id="complexList"
                       class="md-raised md-primary"
                       ng-disabled="false"
                       md-ripple-size="auto"
                       md-no-ink="false"
                       aria-label="Complex List">
              Complex List
            </md-button>
            <md-button aria-label="New Complex"  class="md-raised md-secondary" ui-sref="home.complex.new"> New Complex </md-button>
        </md-card-content>
    </md-card>
  </section>
  <md-card>
    <md-card-content layout="row">
      <div flex>
        <md-card flex>
          <md-card-content>
            <md-list ng-show="vm.simplePigs.length > 0" flex>
              <md-list-item class="md-3-line" ng-click="vm.editSimple(pig._id)" ng-repeat= "pig in vm.simplePigs">
                <h4>{{pig.name}}</h4>
                <p></p>
                <div style="float:right;" am-time-ago="pig.lastModified"></div>
                <md-divider  ng-if="!$last"></md-divider>
              </md-list-item>
            </md-list>
            <h4 ng-hide="vm.simplePigs.length > 0"> No Simple Scripts</h4>
          </md-card-content>
        </md-card>
      </div>
      <div flex>
        <md-card flex>
          <md-card-content>
            <md-list ng-show="vm.complexPigs.length > 0" flex>
              <md-list-item class="md-3-line" ng-click="vm.editComplex(pig._id)" ng-repeat= "pig in vm.complexPigs">
                <h4>{{pig.name}}</h4>
                <p></p>
                <div style="float:right;" am-time-ago="pig.lastModified"></div>
                <md-divider  ng-if="!$last"></md-divider>
              </md-list-item>
            </md-list>
            <h4 ng-hide="vm.complexPigs.length > 0"> No Complex Scripts</h4>
          </md-card-content>
        </md-card>
      </div>
    </md-card-content>
  </md-card>
</md-content>
