<md-content>
  <section id="input">
    <md-card>
        <md-card-content layout="row"> 
            <md-button flex ui-sref="home.simple.list"
                       id="simpleList"
                       class="md-raised md-primary"
                       ng-disabled="false"
                       md-ripple-size="auto"
                       md-no-ink="false"
                       aria-label="Simple List">
              Simple List
            </md-button>
            <md-button flex ui-sref="home.complex.list"
                       id="complexList"
                       class="md-raised md-primary"
                       ng-disabled="false"
                       md-ripple-size="auto"
                       md-no-ink="false"
                       aria-label="Complex List">
              Complex List 
            </md-button>
               
        </md-card-content>
    </md-card>
  </section>
  <md-card >
    <md-card-content layout="row">
     <md-card flex>
       <md-card-content>
     <!--<md-whiteframe class="md-whiteframe-2dp" flex-sm="50" flex-gt-sm="50" flex-gt-md="50" layout layout-align="center center">-->
      <md-list>
        <md-list-item ng-repeat= "pig in vm.simplePigs">
            <h4>{{pig.name}}</h4>
            <md-button>Edit</md-button>
        </md-list-item>
      </md-list>
       </md-card-content>
     <!--</md-whiteframe>-->
     </md-card>
    <md-card flex>
      <md-card-content>
     <!--<md-whiteframe class="md-whiteframe-2dp" flex-sm="50" flex-gt-sm="50" flex-gt-md="50" layout layout-align="center center">-->
      <md-list>
        <md-list-item ng-repeat= "pig in vm.complexPigs">
            <h4>{{pig.name}}</h4>
            <md-button>Edit</md-button>
        </md-list-item>
      </md-list>
      </md-card-content>
     <!--</md-whiteframe>-->
    </md-card>
  
    </md-card-content>
  </md-card>
  <md-card>
    <md-card-header>
      <md-card-header-text>
        <span class="md-title">Scripts</span>
        <span class="md-subhead">Recent 5</span>
      </md-card-header-text>
    </md-card-header>
    <md-card-actions layout="row" layout-align="center center">
      <md-button flex class="md-raised md-primary"> Simple List</md-button>
      <md-button flex class="md-raised md-primary"> Complex List</md-button>
    </md-card-actions>
    <md-card-content layout="row">
        <md-card flex ng-repeat="pig in vm.simplePigs">
          <img src="card-image.png" class="md-card-image" alt="image caption">
          <md-card-content>
            <h2>{{pig.name}}</h2>
          </md-card-content>
          <md-card-actions layout="row" layout-align="end center">
            <md-button>Edit</md-button>
          </md-card-actions>
        </md-card>
        <md-card flex ng-repeat="pig in vm.complexPigs">
          <img src="card-image.png" class="md-card-image" alt="image caption">
          <md-card-content >
            <h2>{{pig.name}}</h2>
          </md-card-content>
          <md-card-actions layout="row" layout-align="end center">
            <md-button>Edit</md-button>
          </md-card-actions>
        </md-card>
    </md-card-content>
  </md-card>
</md-content>