<md-content>
    <section id="input">
        <md-input-container layout-padding>
            <label>Name:</label>
            <input ng-model="vm.script.name">
        </md-input-container>

        <md-input-container layout-padding>
          <label>Pig Arguments:</label>
          <input ng-model="vm.args">
        </md-input-container>

        <div ui-ace="vm.editorOptions" ng-model="vm.script.data">

        </div>

        <md-input-container layout-padding>
          <md-button class="md-raised md-primary" ng-click="vm.save()">Save</md-button>
        </md-input-container>
    </section>
</md-content>
