
$node-input-color: rgba(50, 255, 50, 1.0);
$node-output-color: $node-input-color;
$node-close-color: rgba(255, 50, 50, 1.0);

$node-input-label-color: #999;

$node-header-color: #2196F3;
$node-body-color: #BBDEFB;

$link-color: #455A64;

@mixin color-with-stroke($base) {
  fill: $base;
  stroke: darken($base, 25%);
}


svg.pig-flow {
  border: solid 1px #800;
}

.axis line {
  fill: none;
  stroke: #ddd;
  shape-rendering: crispEdges;
  vector-effect: non-scaling-stroke;
}

.flow_link {
  stroke: $link-color;
  stroke-width: 7px;
}

.path {
  fill: none;
  stroke: #bbb;
  stroke-width: 1.5px;
}

rect.node_header {
  @include color-with-stroke($node-header-color);
  stroke-width: 1.5px;
}

rect.node_body {
  @include color-with-stroke($node-body-color);
  stroke-width: 1.5px;
}

text.node_input_label {
  font-size: 20px;
  @include color-with-stroke($node-input-label-color);
}

text.node_close {
  @include color-with-stroke($node-close-color);
}

circle.node_inputs {
  @include color-with-stroke($node-input-color);
}

circle.node_outputs {
  @include color-with-stroke($node-output-color);
}

circle.node_outputs.dragging {
  fill: rgba(50, 50, 50, 1.0);
  stroke: rgba(90, 150, 200, 1.0);
}

.dragging {
  fill: rgba(196, 216, 242, 1.0);
  stroke: rgba(90, 150, 200, 1.0);
}

.md-fab-top-right {
  top: 20px !important;
}
