<section id="List">

  <div layout="row" layout-align="end center">
    <md-autocomplete
                    ng-disabled="vm.isDisabled"
                    md-no-cache="vm.noCache"
                    md-selected-item="vm.selectedItem"
                    md-search-text-change="vm.searchTextChange(vm.searchText)"
                    md-search-text="vm.searchText"
                    md-selected-item-change="vm.selectedItemChange(item)"
                    md-items="item in vm.querySearch(vm.searchText)"
                    md-item-text="item.name"
                    md-min-length="0"
                    placeholder="Filter">
      <md-item-template>
        <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item.display}}</span>
      </md-item-template>
    </md-autocomplete>
  </div>
  <div class='md-padding' layout="column" layout-align="center center">
    <div layout="row" flex ng-repeat="pig in vm.scripts">
      <div flex>
        <md-card ng-model="vm.scripts" flex>
          <v-accordion class="vAccordion--default" flex>
            <v-pane flex>
              <v-pane-header>
                <div
                       layout="row"
                       layout-padding
                       style="background-color:#e3e3e3; height: 40px"
                       layout-align="start center">

                  <h4>{{pig.name}}</h4>
                  <div layout-align="start center">
                    <md-progress-circular
                       md-diameter="20px"
                       ng-show="vm.isRunning[pig._id] && vm.running"
                       md-mode="determinate"
                       value="{{pig.progress}}"
                       class="md-accent md-hue-4">
                    </md-progress-circular>
                  </div>
                </div>
              </v-pane-header>
              <v-pane-content flex>
                <div style="min-width: 900px;" readonly ui-ace="vm.editorOptions" ng-model="pig.data" flex></div>

                <md-button class="md-raised md-warn" ng-click="vm.deleteScript($event, pig._id)">
                  Delete
                </md-button>
              </v-pane-content>
            </v-pane>
          </v-accordion>
          <div flex layout="column" layout-padding>
            <div class="md-actions" layout="row">
              <div layout="column" layout-align="start center" flex ng-if="pig.info_outputs.length > 0">
                <section layout="row">
                  <md-button class="md-raised chip-btn" ng-click="vm.openInfo($event, $index, 'all')" ng-if="pig.info_outputs.length > 0">
                    Show All: #{{ pig.info_outputs.length }}
                  </md-button>

                  <md-button class="md-raised chip-btn" ng-click="vm.openInfo($event, $index, 'output')" md-style-color="{'background-color': 'green.400'}" ng-if="pig.outputs.length > 0">
                    Show Results: #{{ pig.outputs.length }}
                  </md-button>

                  <md-button class="md-raised chip-btn" ng-click="vm.openInfo($event, $index, 'log')" md-style-color="{'background-color': 'blue.400'}" ng-if="pig.logs.length > 0">
                    Show Info Logs: #{{ pig.logs.length }}
                  </md-button>

                  <md-button class="md-raised chip-btn" ng-click="vm.openInfo($event, $index, 'warning')" md-style-color="{'background-color': 'orange.400'}" ng-if="pig.warnings.length > 0">
                    Show Warnings: #{{ pig.warnings.length }}
                  </md-button>

                  <md-button class="md-raised chip-btn" ng-click="vm.openInfo($event, $index, 'error')" md-style-color="{'background-color': 'red.400'}" ng-if="pig.errors.length > 0">
                    Show Errors: #{{ pig.errors.length }}
                  </md-button>

                  <pig-table input-data="pig.pigList" script-name="pig.name" ng-if="pig.pigList.length > 0"></pig-table>

                  <md-divider ></md-divider>
                </section>
              </div>
              <span flex></span>
              <div layout="row" layout-align="end center" flex>
                <md-menu ng-show="!vm.running || vm.current_running_id !== pig._id">
                  <md-button class="md-raised md-primary" ng-disabled="vm.running" ng-click="$mdOpenMenu()">Run</md-button>
                  <md-menu-content width="4">
                    <md-menu-item>
                      <md-button ng-disabled="vm.running" ng-click="vm.run(pig._id, $index)">Run</md-button>
                    </md-menu-item>
                    <md-menu-item>
                      <md-button ng-disabled="vm.running || true" ng-click="vm.runAndTrack(pig._id, $index)">Run and Track</md-button>
                    </md-menu-item>
                  </md-menu-content>
                </md-menu>

                <md-button class="md-raised md-warn" ng-click="vm.kill(pig._id)" ng-show="vm.running && vm.current_running_id === pig._id">
                  Kill
                </md-button>

                <md-button class="md-primary md-raised" ng-click="vm.edit(pig._id)">
                  Edit
                </md-button>
              </div>
            </div>
          </div>
          <div flex layout="column" layout-padding ng-if="pig.pigList.length > 0">
            <md-button flex ng-click="vm.openGraphInfo($event, $index)">
              Show Graph Info: #{{ pig.pigList.length }}
            </md-button>
          </div>
        </md-card>
      </div>
    </div>
  </div>
</section>
