<md-dialog flex="40" ng-cloak>
  <form>
    <md-toolbar class="md-warn">
      <div class="md-toolbar-tools">
        <h2>Delete Script</h2>
        <span flex></span>
      </div>
    </md-toolbar>
    <md-dialog-content flex>
      <md-content flex layout-padding>
        <p>Are you sure you want to delete this script and <strong>all versions</strong>?</p>
      </md-content>
      <md-input-container flex layout="row" class="md-block">
        <md-switch flex class="md-warn" ng-model="enable_delete" aria-label="Enable Delete">
          Confirm Delete
        </md-switch>
      </md-input-container>
      <md-input-container flex layout="row" class="md-block">
        <md-button flex ng-click="cancel()">Cancel</md-button>
        <md-button flex class="md-raised md-warn" ng-click="deleteScript()" ng-disabled="!enable_delete">Delete Script</md-button>
      </md-input-container>
    </md-dialog-content>
  </form>
</md-dialog>
